.about-container {
    background-color: #071A1E;
    color: #A8E6E7;
    font-family: Arial, sans-serif;
  }
  
  .about-section {
    padding: 7rem 1rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  
  .about-content h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #23A6A7;
  }
  
  .about-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #6C8A8B;
  }
  
  /* Features Section */
  .features-section {
    padding: 60px 10%;
    background-color: #0D2A2E;
    text-align: center;
  }
  
  .features-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #23A6A7;
  }
  
  .features-section ul {
    list-style: none;
    padding: 0;
  }
  
  .features-section li {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #A8E6E7;
  }
  

  .hng-developers-section {
    padding: 70px 10%;
    text-align: center;
    background-color: #071A1E;
  }
  
  .hng-developers-section h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #23A6A7;
  }
  
  .hng-developers-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #6C8A8B;
  }
  