/* Home Page Container */
.home-container {
  background-color: #071A1E;
  color: #A8E6E7;
  font-family: "Poppins", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

/* Hero Section */
.hero-section {
  text-align: center;
  padding: 220px 20px;
  background: linear-gradient(to right, #0D2A2E, #071A1E);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  max-width: 700px;
  text-align: center;
}

.hero-content h1 {
  font-size: 2.8rem;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: #6C8A8B;
}

/* About Section */
.about-section {
  text-align: center;
  padding: 80px 20px;
  background-color: #0D2A2E;
}

.about-content {
  max-width: 700px;
  margin: 0 auto;
}

.about-content h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.about-content p {
  font-size: 1.1rem;
  color: #A8E6E7;
  margin-bottom: 15px;
}

/* Featured Events Section */
.events-section {
  padding: 80px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.events-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.event-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

/* Contact Section */
.contact-section {
  text-align: center;
  padding: 60px 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.contact-form input {
  margin-bottom: 15px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #0D2A2E;
  color: #A8E6E7;
}

.contact-details {
  margin-top: 20px;
  color: #6C8A8B;
}

/* Footer Spacing Fix */
.contact-section {
  margin-bottom: 50px;
}
